{% extends 'base.html' %}

{% block title %}
Команда {{ team.name }}
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ team.name }} <span>| {{ team.count_members }} работников</span></h5>
        <p class="card-text"><small class="text-body-secondary">{{ team.created_at }}</small></p>
        <a class="btn btn-primary" href="{% url 'teams:team_edit' team.pk %}">Редактировать</a>
        <a class="btn btn-danger" href="{% url 'teams:team_delete' team.pk %}">Удалить</a>
        <a class="btn btn-primary" href="{% url 'teams:add_user' team.pk %}">Добавить пользователя</a>
        <a class="btn btn-primary" href="{% url 'tasks:task_create' team.pk %}">Создать задачу</a>
        <a class="btn btn-primary" href="{% url 'tasks:task_list' team.pk %}">Задачи команды</a>
    </div>
</div>
<div class="card-group mt-2">
    {% for emp in object_list %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ emp.full_name }}</h5>
            <p class="card-text"><small class="text-body-secondary">{{ emp.get_role_display }}</small></p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="{% url 'users:profile' emp.user.pk %}">Подробнее</a>
                <form action="{% url 'teams:delete_user' team.pk emp.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger ms-1" type="submit">Удалить</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div>
    {% include 'includes/paginator.html' %}
</div>
{% endblock content %}